<div>
<div class="padding">
    <ol class="breadcrumbs">
      <li><a href="#Page">Page</a></li>
      <li>Create</li>
    </ol>
    <h1>Create <span>Page</span></h1>
</div><!-- 'padding' -->

<form class="form">
  <input name="user" type="hidden" value="" />

  <div class="clearfix action_bar">
    <a href="#null" class="button right submit margin_right_5" id="save">Save</a>
    <a href="#Page" class="button right submit margin_right_5">Cancel</a>
  </div>

    <div class=" padding_20">
    	<p class="clearfix">
        <label>
          Title</label>
          <input name="title" />
      </p>
			<p class="clearfix">
        <label>
          Url</label>
          <input name="url" />
      </p>

			<p class="clearfix">
        <label>
          Body</label>
          <textarea name="body"></textarea>
      </p>

  </div><!-- 'padding' -->
</form>
</div>