<div>
  
  <div class="right_bar">
    <h3>Page Info</h3>
    <p>Preview <a href="/" target="_blank"></a></p>
    
    <h3>Keyword Density</h3>
    
     <div id="keywordDensityTemplate">
    {{each stats.groupCount}}
      ${key} ${percentage}% <br />
    {{/each}}
    </div>
    
  </div>
  
  <div class="left_bar">
    <ol class="breadcrumb">
      <li><a href="#Page">Pages</a></li>
      <li>Create</li>
    </ol>
    
    <form class="form">
      <div class="float-end btn-group">
        <a href="#Page" class="btn">Cancel</a>
        <a href="#null" class="btn btn-primary" id="save">Save</a>
      </div>

      <input name="user" type="hidden" value="" />

      <legend>Create Page</legend>
      <div class="margin_bottom">
        <label class="form-label">Page Title</label>
        <input name="title" type="text" class="form-control" />

        <label class="form-label margin_left">Page Url</label>
        <div class="input-group">  
          <input name="url" type="text" class="form-control" />
          <a href="#" id="createUrl" class="btn btn-outline-secondary">create</a>
        </div>
      </div>
  		<div class="mb-3">
        <textarea name="body" class="form-control"></textarea>
      </div>
    </form>
  </div>
</div>
