<div>
  <div class="right_bar">
    <h3>Page Info</h3>
    <p>Preview <a href="/${page.url}" target="_blank">${page.url}</a></p>
    
    <h3>Keyword Density</h3>
    
    <div id="keywordDensityTemplate">
    {{each stats.groupCount}}
      ${key} ${percentage}% <br />
    {{/each}}
    </div>
  </div>
  
  <div class="left_bar">
    <ol class="breadcrumb">
      <li><a href="#Page">Pages</a> <span class="divider">/</span></li>
      <li>Edit</li>
    </ol>
  
    <form class="form form-inline">
      <input name="_id" type="hidden" value="${page._id}" />
      <input name="url" type="hidden" value="${page.url}" />
    
      <div class="pull-right btn-group">
          <a href="#null" class="btn" id="delete">Delete</a>
          <a href="#Page" class="btn">Cancel</a>
          <a href="#null" class="btn btn-primary" id="save">Save</a>
      </div>
    
      <legend>Edit Page</legend>
  
    	<div class="control-group">
        <label>
          Title</label>
          <input name="title" type="text" value="${page.title}" />
      </div>
    	<div class="control-group">
        <textarea name="body">${page.body}</textarea>
      </div>
    </form>
  </div>
</div>