<div>
<div class="padding">
    <ol class="breadcrumbs">
      <li><a href="#Page">Page</a></li>
      <li>Edit</li>
    </ol>
    <h1>Edit <span>Page</span></h1>
</div><!-- 'padding' -->

<form class="form">
  <input name="_id" type="hidden" value="${page._id}" />
  <input name="url" type="hidden" value="${page.url}" />

  <div class="clearfix action_bar">
    <a href="#null" class="button right submit margin_right_5" id="save">Save</a>
    <a href="#null" class="button right submit margin_right_5" id="delete">Delete</a>
    <a href="#Page" class="button right submit margin_right_5">Cancel</a>
  </div>
  <div class="padding_20">

			<p class="clearfix">
        <label>
          Url</label>
          <span><a href="/${page.url}" target="_blank">${page.url}</a></span>
      </p>
			<p class="clearfix">
        <label>
          Title</label>
          <input name="title" value="${page.title}" />
      </p>
			<p class="clearfix">
        <label>
          Body</label>
          <textarea name="body">${page.body}</textarea>
      </p>

  </div><!-- 'padding' -->
</form>
</div>