<div>

  <ol class="breadcrumb">
  	<li><a href="#Page">Page</a> <span class="divider">/</span></li>
    <li>Create</li>
  </ol>
  
<form class="form">

  <div class="pull-right btn-group">
    <a href="#Zone" class="btn">Cancel</a>
    <a href="#null" class="btn btn-primary" id="save">Save</a>
  </div>
  
  <legend>Create Zone</legend>

	<div class="control-group">
    <label>
      Key</label>
      <input name="key" type="text" />
  </div>
	<div class="control-group">
    <label>
      Body</label>
      <textarea name="content"></textarea>
  </div>
</form>
</div>