<div>
<div class="padding">
    <ol class="breadcrumbs">
    	<li><a href="#Page">Page</a></li>
      <li><a href="#Zone">Zone</a></li>
      <li>Create</li>
    </ol>
    <h1>Create <span>Zone</span></h1>
</div><!-- 'padding' -->

<form class="form">

  <div class="clearfix action_bar">
    <a href="#null" class="button right submit margin_right_5" id="save">Save</a>
    <a href="#Zone" class="button right submit margin_right_5">Cancel</a>
  </div>
  <div class="padding_20">

			<p class="clearfix">
        <label>
          Key</label>
          <input name="key" />
      </p>
			<p class="clearfix">
        <label>
          Body</label>
          <textarea name="content"></textarea>
      </p>

  </div><!-- 'padding' -->
</form>
</div>