<div>
<div class="padding">
    <ol class="breadcrumbs">
    	<li><a href="#Page">Page</a></li>
      <li><a href="#Template">Template</a></li>
      <li>Edit</li>
    </ol>
    <h1>Edit <span>Temp</span></h1>
</div><!-- 'padding' -->

<form class="form" action="/campaign/submit" method="post">
  <div class="clearfix action_bar">
    <a href="#null" class="button right submit margin_right_5" id="save">Save</a>
  </div>
  
	<p class="clearfix">
      <div name="content" id="editor" class="file-editor-textarea" rows="35" name="value" data-language="HTML" data-filename="detail.html">${template.content}</div>
  </p>
  
</form>
</div>