<div>

  <ol class="breadcrumb">
    <li><a href="#User">User</a> <span class="divider">/</span></li>
    <li>Create</li>
  </ol>
  
  <form class="form">
  
    <div class="pull-right btn-group">
      <a href="#User" class="btn">Cancel</a>
      <a href="#null" class="btn btn-primary" id="saveBtn">Submit</a>
    </div>
    
    <legend>New User</legend>
    
    <div class="">
      <div class="two_col_form">
  			<div class="control-group">
          <label>
            User Type</label>
            <select name="userType">
            	<option value="admin">Admin</option>
            	<option value="user" selected="selected">User</option>
            </select>
        </div>
  
  			<div class="control-group">
          <label>
            User Name</label>
            <input type="text" name="name" />
        </div>
         <div class="control-group">
          <label>
            Password</label>
            <input type="text" name="password" type="password" />
        </div>
  
        <div class="control-group">
          <label>
            E-mail</label>
            <input type="text" name="email" />
        </div>
      </div>
    </div><!-- 'padding' -->
  </form>
</div>