<div>

  <ol class="breadcrumb">
    <li><a href="#User">User</a></li>
    <li>Create</li>
  </ol>
  
  <form class="form">
  
    <div class="float-end btn-group">
      <a href="#User" class="btn">Cancel</a>
      <a href="#null" class="btn btn-primary" id="saveBtn">Submit</a>
    </div>
    
    <legend>New User</legend>
    
    <div class="">
      <div class="two_col_form">
  			<div class="mb-3">
          <label>
            User Type</label>
            <select name="userType" class="form-select">
            	<option value="admin">Admin</option>
            	<option value="user" selected="selected">User</option>
            </select>
        </div>
  
  			<div class="mb-3">
          <label>
            User Name</label>
            <input type="text" name="name" class="form-control" />
        </div>
         <div class="mb-3">
          <label>
            Password</label>
            <input type="password" name="password" class="form-control" />
        </div>
  
        <div class="mb-3">
          <label>
            E-mail</label>
            <input type="text" name="email" class="form-control" />
        </div>
      </div>
    </div><!-- 'padding' -->
  </form>
</div>
