<div>
<div class="padding">
    <ol class="breadcrumbs">
    	<li><a href="#Admin">Admin</a></li>
      <li><a href="#Organizations">User</a></li>
      <li>Create</li>
    </ol>
    <h1>New User <span>Account</span></h1>
</div><!-- 'padding' -->

<form class="form">
  <div class="clearfix action_bar">
    <a href="#null" class="button right submit margin_right_5" id="saveBtn">Submit</a>
    <a href="#User" class="button right margin_right">Cancel</a>
  </div>
  <div class="padding">
    <h2>User Info</h2>
    <div class="section two_col_form">

			<p class="clearfix">
        <label>
          User Type</label>
          <select name="userType">
          	<option value="admin">Admin</option>
          	<option value="user" selected="selected">User</option>
          </select>
      </p>

			<p class="clearfix">
        <label>
          User Name</label>
          <input name="name" />
      </p>
       <p class="clearfix">
        <label>
          Password</label>
          <input name="password" type="password" />
      </p>

      <p class="clearfix">
        <label>
          E-mail</label>
          <input name="email" />
      </p>
    </div>
  </div><!-- 'padding' -->
</form>
</div>