<div>

  <ol class="breadcrumb">
    <li><a href="#User">User</a> <span class="divider">/</span></li>
    <li>Edit: ${user.name}</li>
  </ol>

	<form class="form" action="/campaign/submit" method="post">
	  <input name="id" type="hidden" />
	  
	  <div class="pull-right btn-group">
	   <a href="#null" id="deleteBtn" class="btn">Delete</a>
	   <a href="#User" class="btn">Cancel</a>
	   <a href="#User/Edit/${user.guid}" class="btn btn-primary">Edit</a>
	  </div>
	  
	  <legend>Edit User: <strong >${user.name}</strong></legend>
	  
		<div class="padding clearfix">
			<p>
				<strong>User Name</strong>
				<span>${user.name}</span>
			</p>
			<p>
				<strong>E-mail</strong>
				<span>${user.email}</span>
			</p>
		</div>	
	</form>
</div>