/* DEFAULTS
-----------------------------------*/

/* body */
html{height: 100%;}
body {height: 100%;  font-family: Arial; text-align:left; margin: 0; padding:0; color:#424242; font-size:12px; margin-top:0px; }

/* text */
p, h1, h2, h3, h4, li, ul {text-align:left;  margin:0; padding:0; }
h1, h2, h3, h4, h3 a {color:#02398B; font-weight:bold; font-size:20px; margin-bottom:15px;}
h1{margin-bottom:10px; font-weight:bold; color:#fff; color:#988157;}
h2, .col_1 h2{background-color:#EFE7CF; color:#9C8452; padding:5px 10px; margin-bottom:0px; font-size:12px;}
h3 {margin-bottom:5px; font-weight:bold; color:#fff; color:#555; font-size:16px;}
h4 {border-bottom: 1px solid #ccc; padding-bottom:5px; margin-bottom:5px; font-size:12px;}
h5 {border-bottom: 1px solid #ccc; padding-bottom:5px; margin-bottom:5px; font-size:12px;}
p, #col_1 li, #col_2 li{ line-height:160%;}/*Original:{font-size:100%; line-height:160%;}*/
p{ margin-bottom:10px;}
a {color:#004587; /*023467 (blue)*/}
a:hover {text-decoration:none;}

/* form */
input, button, textarea, select, optgroup, option {font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;}
input[type="text"] {width: 200px; border: 1px solid #CCC;}
input[type="password"] {width: 200px;border: 1px solid #CCC;}
input, button, textarea, select {*font-size: 100%;} /* purpose To enable resizing for IE @branch For IE6-Win, IE7-Win */
textarea{ width:100%; height:100px;}

.two_col_form label{ float: left; width: 100px;}
.two_col_form input{}

/*table*/
table {margin:0px;}
table td, table th{text-align:left; border-collapse: collapse; border-spacing: 0;}
p, table {line-height: 160%;}

/*other*/
img {border: none;}
hr {height:1px; color:#ccc; background: #F2F1E8; border:none;}
.hr {border-bottom:1px solid #F2F1E8; padding-bottom:10px; margin-bottom:10px;}
.hr2 {border-bottom:1px solid #F2F1E8; padding-bottom:5px; margin-bottom:5px;}
.data_table td button, td .button{float:right;}
.margin_right_5{ margin-right:5px;}
.margin_right{ margin-right:10px;}
.padding_right{ padding-right: 10px;}
.padding_left{ padding-left: 10px;}
.padding_20{padding: 20px;}

/* NAVS
-----------------------------------*/
/*main nav*/
.nav_wrp{padding-left:10px; 
	background-color:#0045ac; 
	border-bottom:5px solid #0080bd; 
	background:#023467;
	border-bottom:10px solid #666;
	background-color:#fff;}
ul#nav, .nav li{margin:0; padding:0; list-style: none;}
ul#nav{padding-top:0px;}
ul#nav li{position:relative; float:left; font-weight:bold;}
ul#nav li.hover a{background-color:#333;}
ul#nav li a{
	display:block;  
	margin:0; 
	padding: 5px 10px; 
	margin-top: 10px;
	margin-bottom: 10px;
	color:#fff; 
	background-color:#1e538a;  
	margin-right:5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
ul#nav li a.selected{background-color:#0080bd;}

/**/
#login_msg{float:right; clear: both; padding:0px; color:#eee; text-align:right;}
#login_msg span { 	
	display:block;  
  float: left;
	margin:0; 
	padding: 5px 10px; 
	margin-top: 10px;
	margin-bottom: 10px;}
#login_msg a {
  display:block;  
  float: left;
	margin:0; 
	padding: 5px 10px; 
	margin-top: 10px;
	margin-bottom: 10px;
	color:#fff; 
	background-color:#eee;  
	color: #333;
	margin-right:5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/* LAYOUT
-----------------------------------*/

/*cols*/
#main{ margin:10px;}

.full_col{background-color:#fff; border:1px solid #DBE1E6; box-shadow: 0 0 3px #ddd;}
.left_col{width:210px; position: absolute; font-size:12px; }
.left_col_box {background-color:#fff; border:1px solid #DBE1E6; box-shadow: 0 0 3px #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5x;
  border-radius: 5px; 
}
.left_col_box h2{
	border:none;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5x;
  border-radius: 5px; 
}
.right_col { 
	margin-left: 215px; 
	overflow:hidden; 
	text-align:left; 
	background-color:#fff; 
}

/* FORMS
-----------------------------------*/

/*form table*/
.form_table_min_width{width:600px;}
.form_table label{float:left; padding-right:5px;} /*TODO: test if float is OK*/
.form_table td.col1{width:120px;}
.form_table td.col2{width:150px;}
.form_table td.col3{width:170px;}
.form_table td.col4{width:120px;}
.form_table td.col5{}
.form_table td.col23{width:320px;}
/*helper widths*/
.width_{}
.table_toolbar{ }

.list li{ margin-left: 15px; margin-bottom: 5px;}

form textarea {height: 300px;}


/* UTILITY
-----------------------------------*/
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.alpha{filter:alpha(opacity=35); -moz-opacity:0.35; opacity: 0.35;}
.padding{padding:10px 0px;}
.left{float:left;}
.right, a.right{float:right;}
.margin{margin:10px;}
.margin_bottom{margin-bottom: 10px;}
.margin_left{margin-left: 10px;}

.margin_left5{margin-left: 5px;}
.margin_right5{margin-right: 5px;}
.margin_bottom5{margin-bottom: 5px;}

.margin_top{margin-top: 10px;}
.margin_top5{margin-top: 5px;}
.hide{display:none;}
.clr{clear:both;}
.strong{ font-weight:bold;}
.align_right{ text-align:right;}
.red{color:Red;}
.full_width, .width_full{ width:100%;}
* html .width_full{float:left;}/*IE6 bug */
.half_width{ width:50%;}
.highlight{background-color: #ffc;}

/*loader*/
#loader{position:absolute; top:0; right:0;}
#loader span{display:block; padding:5px 10px; background-color:#f00; color:#fff; font-style:italic; font-weight:bold;}

/*icons*/
.icon_back, .icon_excel,  .icon_edit, .icon_add, .icon_user, .icon_blog, .icon_status, .icon_error, .icon_idea, .icon_help{padding:1px 0px 1px 20px; }
.icon_edit{background: url(../images/icons/icon_edit.gif) no-repeat 0px 50%;}
.icon_excel{background: url(../images/icons/icon_excel.png) no-repeat 0px 50%;}
.icon_add{background: url(../images/icons/icon_add.gif) no-repeat 0px 50%;}
.icon_user{background: url(../images/icons/icon_user.png) no-repeat 0px 50%;}
.icon_blog{background: url(../images/icons/icon_blog.png) no-repeat 0px 50%;}
.icon_status{background: url(../images/icons/icon_done.png) no-repeat 0px 50%;}
.approveStatus_0{background: url(../images/icons/icon_star_2.png) no-repeat 4px 50%;}
.icon_error{background: url(../images/icons/error_add.png) no-repeat 0px 50%;}
.icon_idea{background: url(../images/icons/idea.png) no-repeat 0px 50%;}
.icon_help{background: url(../images/icons/help_contents.gif) no-repeat 0px 50%;}
.icon_back{background: url(../images/icons/icon_nav_back.gif) no-repeat 0px 50%;}


/* BLOCKS
-----------------------------------*/

/*form*/
input, select, textarea{/*margin-bottom:5px;*/}
input[type="radio"], input[type="checkbox"]{margin-bottom:0px; margin-right:5px; margin-top:0px; margin-left:0px; }
.radio, .checkbox {margin-bottom:0px; margin-right:5px; margin-top:0px; margin-left:0px;} /*again for IE6 because IE6 does not take type sudo class*/
label{font-size:12px; margin-bottom:1px; display:block;}
.section{padding:20px; border:1px solid #EFE7CF; margin-bottom:10px;}
/*.sectiongrid{padding:0px; border:1px solid #EFE7CF; margin-bottom:10px;}*/
.table{width:100%; font-size:12px;}
* html .table{width:99%;}

.form_error{ margin-left: 10px; color: #f00;}

/*table paging*/
.top_paging a:hover{
background:           -moz-linear-gradient(0% 170% 90deg, #b8b8b8, white);
background:           -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#b8b8b8));
border-color:          #99ccff;
color:                 #333333;
}
.top_paging {margin-bottom:0px; margin-top:0px;}
.top_paging .previous span, .top_paging .next span{
display:block; height:18px; cursor:pointer;
}
.top_paging .previous, .top_paging .next{ 
display:block; margin-left:5px; float: left; 
height:16px; width:16px; border:1px solid #ccc;}
.top_paging .next{ margin-left: 5px; border-left: none; }
.top_paging .previous span{
font-weight: bold; 
background: url(../images/icons/arrow_left.gif) no-repeat 60% 58%;
}
.top_paging .next span{ 
font-weight: bold; 
background: url(../images/icons/arrow_right.gif) no-repeat 60% 58%;
}
.top_paging select{ padding:0; margin-right: 10px; margin-left: 10px;}
.top_paging .previous, .top_paging .next{ 
-moz-border-radius:      3px;
-webkit-border-radius:   3px;
background:              white url('button.png') 0 0 repeat-x; /* Image fallback */
background:             -moz-linear-gradient(0% 170% 90deg, #c4c4c4, white);
background:             -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#c4c4c4));
border:                  1px solid;
border-color:            #e6e6e6 #cccccc #cccccc #e6e6e6;
border-radius:           3px;
color:                   #404040;
display:                 inline-block;
font-family:            "helvetica neue", helvetica, arial, freesans, "liberation sans", "numbus sans l", sans-serif;
font-size:               13px;
outline                  0;
padding:                 5px 8px 5px;
text-align:              center;
text-decoration:         none;
text-shadow:             1px 1px 0 white; 
white-space:             nowrap;
}

.top_paging_status_text{line-height:28px; font-size:14px;}
.top_paging_per_page_wrp{ margin-right:20px;}
.top_paging_per_page_wrp select{ font-size:11px;}

#content input, #content select, #content textarea {
    border: 1px solid #CCCCCC;
}

/*texts*/
h1{ color:#333; font-weight:bold; font-size:24px;}
h1 span{color:#999;}
h2 {background:transparent url(../images/gsprite_pg_slate_062209.gif) repeat-x scroll 0 0; color:#333; border:1px solid #DBE1E6;}
.section h4 {border-bottom:1px solid #DBE1E6; color:#555555}

.col_2 h2{ margin-bottom:5px;}
.left_cont{ border:none; border:1px solid #DBE1E6; border-top:none;}
.left_cont_inner{ padding:10px;}
.col_1 h2{background-color:#d7d6d6; color:#333;}
a{ color:#16387c}

#header{ background-color: #101010;}

/*nav*/
ul#nav{ margin: 0px 0 0 0; padding-top: 0;}
ul#nav li a{text-decoration:none; color: #eee}
ul#nav li a:hover, ul.tabs li a:hover, ul.tabs2 li a:hover{text-decoration:underline;}

ul.left_nav{ margin: 0; padding: 10px 20px 10px 10px;}
ul.left_nav li{ margin: 0; padding: 0; list-style-type: none;}
ul.left_nav li a{ display: block; padding: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5x;
  border-radius: 5px; }
ul.left_nav li a.selected {background-color: #eee; color: #111; text-decoration:none;}

ol.breadcrumbs{ margin:0px 0 0px 0; padding:0px 0 10px 0;}
ol.breadcrumbs li{ display:inline;  margin:0; padding:0; color:#999; font-size:11px;}

.status_bar{background:transparent url(../images/gsprite_pg_slate_062209.gif) repeat-x scroll 0 0; border:1px solid #DBE1E6;}
ul#nav li a{background-color: Transparent; color:#eee; /*font-size: 22px; for ipad*/ }
ul#nav li a.selected {background-color:#666; color:#fff;}


/*popup*/
.modal_popup_wrp_header{background:transparent url(../images/gsprite_pg_slate_062209.gif) repeat-x scroll 0 0;}
.modal_popup_wrp_header p {color:#333;}
.modal_popup_wrp{border:5px solid #DBE1E6;}

/*table*/
table.data_table{border-collapse: collapse; border-spacing: 0; border-top: 1px solid #DBE1E6; border-bottom: 1px solid #DBE1E6;

}
table.data_table td, table.data_table th{padding:5px 10px; font-size:11px; }
table.data_table th{ background:url("http://s0.wp.com/wp-admin/images/gray-grad.png") repeat-x scroll left top #DFDFDF; color:#333;}
table.data_table th.header{ color:#fff; }
table.data_table td{ background-color:#f5f5f5; border-bottom: 1px solid #d4d8de;}

table.data_table tr.alt td{ background-color:#fff;}
table.data_table tbody tr:hover td, table.data_table tbody tr.alt:hover td {background-color: #ffc;}
table.data_table tr td.table_toolbar{ background-color:#6688a4;}

.button {
  -moz-border-radius:      3px;
  -webkit-border-radius:   3px;
  background:              white url('button.png') 0 0 repeat-x; /* Image fallback */
  background:             -moz-linear-gradient(0% 170% 90deg, #c4c4c4, white);
  background:             -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#c4c4c4));
  border:                  1px solid;
  border-color:            #e6e6e6 #cccccc #cccccc #e6e6e6;
  border-radius:           3px;
  color:                   #404040;
  display:                 inline-block;
  font-family:            "helvetica neue", helvetica, arial, freesans, "liberation sans", "numbus sans l", sans-serif;
  font-size:               13px;
  outline                  0;
  padding:                 5px 8px 5px;
  text-align:              center;
  text-decoration:         none;
  text-shadow:             1px 1px 0 white; 
  white-space:             nowrap; }

  .button:hover {
    background:           -moz-linear-gradient(0% 170% 90deg, #b8b8b8, white);
    background:           -webkit-gradient(linear, 0% 0%, 0% 170%, from(white), to(#b8b8b8));
    border-color:          #99ccff;
    color:                 #333333; }

  .button:active {
    position:              relative;
    top:                   1px; }

  .button:active, .button:focus {
    background-position:   0 -25px;
    background:           -moz-linear-gradient(0% 170% 90deg, white, #dedede);
    background:           -webkit-gradient(linear, 0% 0%, 0% 170%, from(#dedede), to(white));
    border-color:          #8fc7ff #94c9ff #94c9ff #8fc7ff;
    color:                 #1a1a1a;
    text-shadow:           1px -1px 0 rgba(255, 255, 255, 0.5); }

.section button, .status_bar button{margin-right:0px; margin-left:0px;  }
.data_table .button{font-size:11px; }

/*popup search form*/
#accountSearch .section{background:#E8EDF0 url(../images/page_bg_slate_070609.gif) repeat-x scroll 0 0;}

.paging .previous, .paging .next{background:transparent url(../images/gsprite_pg_slate_062209.gif) repeat-x scroll 0 0%; border:1px solid #DBE1E6;}

table.data_table tr.lead_status_row_1 td{ background-color:#FFFFCC;}

/*message*/
#message_wrp{text-align: center;}
#message_wrp #message_box{ 
	width:200px; 
	background-color: #FFFFE0; 
	border-left: 1px solid #E6DB55; 
	border-right: 1px solid #E6DB55; 
	border-bottom: 1px solid #E6DB55; 
	position: absolute; 
	z-index: 888888;
	left: 50%; 
	margin-left: -100px; 
	padding: 5px; 
	font-weight: bold;
	  -moz-border-bottom-left-radius: 5px;
	  -webkit-border-bottom-left-radius: 5x;
	  border-bottom-left-radius: 5px; 
	  -moz-border-bottom-right-radius: 5px;
	  -webkit-border-bottom-right-radius: 5x;
	  border-bottom-right-radius: 5px; }

table.data_table tr.lead_status_row_1 td{background-color:#7FFFD4;}

/*lead comments*/
.comment p{padding:10px; background-color:#eee; border-bottom: 1px solid #ccc; margin-left:40px;}
.comment_box p{padding: 0px;  margin-left:40px;}
.comment_box textarea{border: 1px solid #ccc; margin-bottom:10px;}

.action_bar {padding: 5px; background-color:#eee;  margin-bottom:5px;   -moz-border-radius: 5px;
  -webkit-border-radius: 5x;
  border-radius: 5px; }
.action_bar label, .action_bar a{ line-height: 17px;}