<div>
	<div class="padding">
		<ol class="breadcrumbs">
      <li><a href="#File">Files</a></li>
      <li>Upload</li>
    </ol>
    <h1>File <span>Upload</span></h1>
	</div>
	<div class="padding">
		<form enctype="multipart/form-data" method="post" action="upload/">
		  <p>
		    <label for="fileToUpload">Select a File to Upload</label>
		    <input type="file" name="fileToUpload" id="fileToUpload" />
		  </p>
		  <p>
		    <a class="button" href="#" id="uploadFileBtn">Upload</a>
		  </p>
		  <p id="fileDataMsg"></p>
		</form>
	</div>
</div>