<div>
	<ol class="breadcrumb">
    <li><a href="#File">Files</a> <span class="divider">/</span></li>
    <li>Upload</li>
  </ol>

	<form enctype="multipart/form-data" method="post" action="upload/">
	
    <legend>Upload File</legend>
	
	  <p>
	    <label for="fileToUpload">Select a File to Upload</label>
	    <input type="file" name="fileToUpload" id="fileToUpload" />
	  </p>
	  <p>
	    <a class="btn btn-primary" href="#" id="uploadFileBtn">Upload</a>
	  </p>
	  <p id="fileDataMsg"></p>
	</form>

</div>