/* FONTS
------------------------------------------------------------*/
body{font-family:"Segoe UI",Arial,sans-serif; background: url(../images/bc.png) repeat-x; }
h1, #sub_header h1{margin-bottom:1em; font-size:22px; color:#333; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; text-shadow:1px 1px 1px #ccc;}
#container h2{margin-bottom:0.7em; font-family:Arial,sans-serif; color:#A9A9A9; font-size:20px;}
#container .box h2{font-size:26px;}
#container h3, #sub_header h3{margin-bottom:0.3em; font-size:13px;}
#container h4{ margin-bottom:0.3em;}
#container p, #sub_header p{margin-bottom:1em; font-size:100%;}
#container li, #sub_header li{ font-size:100%;}
.paging a, .paging span, .paging_top a, .paging_top span{font-family:Arial,sans-serif; font-size:16px}
#footer a, #footer p{color:#666;}

/* LAYOUT
------------------------------------------------------------*/
.half_width{ width:470px;}
.margin_bottom_10{ margin-bottom:10px;}
.margin_bottom_20{ margin-bottom:20px;}
.padding_bottom_20{ padding-bottom:20px;}

ol.list li { list-style-type: decimal;}

body{text-align:center;   }
#wrap{}
#container, #header_inner, #footer_inner, #sub_header_inner, #container_inner{margin:0 auto; width:960px;}

/*header*/
#header{
  padding:0px 0;  
  height:60px;
  background: url(../images/header_bc.png) repeat-x scroll 0px 0%; }

/*logo*/
.logo span{
height:60px; 
width:310px; position:relative; float:left;
top:8px;
display:block;
background: url(../images/logo.png) no-repeat scroll 0px 0%;}

/*nav*/
#nav li{display:inline;}
#nav li a 
{ border-top:2px solid #444;
  border-left:2px solid #444;
  border-right:2px solid #444;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px;
float:right; display:block; 
padding:5px 10px; 
color:#eee; 
margin-right:10px; 
text-decoration:none; 
margin-top:20px; 
background-color:#000; 
color:#aaa;}
#nav li a:hover{ background-color:#111; color:#fff;}
.blog #nav li a.blog, 
.index #nav li a.index, 
.projects #nav li a.projects{ color:#558708;}

#container .form p{ border:1px solid #fff;  margin-bottom:5px;}
#container .form input[type="text"]{ width:200px;}

/*footer*/
#footer{ background-color: #F1F3F5;
    border-top: 1px solid #DAE1E5;
    font-size: 12px;
    margin-top: 0;
    padding: 25px 0;
    text-align: left; }
#footer p{margin: 0 10px 10px 10px;}
#footer p a {color: #8596A0; margin-right: 20px;}
#footer .hr{border-bottom: 1px solid #DAE1E5; margin-bottom: 25px; padding-bottom: 25px;}
#footer li{ color:#ccc;}

/*main*/
#container{ padding-top:10px; margin-top:33px; padding-top:0px;  padding-bottom:30px;}
#container div{ text-align: left;}
#left_col {float:right; width: 160px; }
#left_col ul li{margin-bottom: 10px;}
#right_col {width:780px; padding-left:0; float:left;}
#left_col_inner{padding:20px 20px 20px 0px;}

#container .yellow_box{ padding:20px; background-color:#FFFFE0; border: 2px solid #E6DB55; margin-bottom:20px;   
  -moz-border-radius: 9px; 
  border-radius: 9px;}
#container .yellow_box p { margin:0; font-weight:bold;}

/* box */
#container .box
{
  background-color:#fff; 
  padding:20px; 
  border: 2px solid #ccc;
  -moz-box-shadow:0 5px 20px #C8C8C8;  
  box-shadow:0 5px 20px #C8C8C8;  
  -moz-border-radius: 9px; 
  border-radius: 9px;
}

.height_270{height:310px;}
#container .light_blue{background-color: rgb(230, 238, 249);}
.margin_bottom5{ margin-bottom:5px;}

/*sub header*/
#sub_header{background-color:#e8e8e8;}
#sub_header .hide{display:none;}

ul.sub_nav{ margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #ccc;}
ul.sub_nav li{ display: inline;}
ul.sub_nav li a{ display: block; padding:5px 10px; margin-right:10px; background-color:#ccc;
    float: left;}
/* PAGE BLOCKS
------------------------------------------------------------*/

/* box: box overwrites */
#container .box p, #container .box legend{color: #333;}
#container .box input[type="text"], #container .box select, #container .box textarea{ border:1px solid #ccc;}
#container .box .info_box p{color: #eee;}

#container .box h1{ margin-bottom:10px;}

#content1 ul.bank_list{list-style-type:none; margin:0px; padding:0px; padding-top: 7px;}

.bank_list li{  float:left;}
.bank_list span {
  display:block;  
  height:37px; 
  width:89px; 
  margin:0 7px 7px 0;
  background: #fff url(/content/files/images/e723b5e7-62cf-45d2-84f5-eb0f44f08c99.png) no-repeat scroll 0 0;}

.bank_list strong{ display:none;}
.bank_list .li2 span { background-position: 0 -38px}
.bank_list .li3 span { background-position: 0 -75px}
.bank_list .li4 span { background-position: 0 -110px}
.bank_list .li5 span { background-position: 0 -152px}
.bank_list .li6 span { background-position: 0 -188px}
.bank_list .li7 span { background-position: 0 -226px}
.bank_list .li8 span { background-position: 0 -262px}
.bank_list .li9 span { background-position: 0 -299px}
.bank_list .li10 span { background-position: 0 -337px}
.bank_list .li11 span { background-position: 0 -375px}
.bank_list .li12 span { background-position: 0 -414px}
.bank_list .li10, .bank_list .li11{ display:none;}

/* Girl */
.girl_wrapp{background: url(/content/files/images/4f761dfe-de1d-4245-b88a-7a6331e87f6c.jpg) no-repeat scroll 0px 0;}
.girl_wrapp .girl_wrapp_inner{background: url(/content/files/images/e3e17330-aae8-4db4-a557-6c4ac579cc95.gif) no-repeat scroll 0 151px;}

.offer_text span{ font-size:44px; display:block; margin-left:180px;  margin-top:8px; line-height:44px; margin-bottom:70px; text-align:right; color:#234F8C;}
.offer_text span strong{color: Red;}
.offer_text span i { color:#333;}

.gray_box{ background-color:#eee; padding:10px;}
#container .gray_box p { margin-bottom:0;}
.form select{ width:200px;}
.form .gray_box select{ width:168px;}
#container .form .gray_box p { border-color:#eee;}

/*
http://www.webdesignerwall.com/demo/css-buttons.html
*/
.button { 
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	/*border-radius: .5em;*/
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-weight:bold;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* green */
.green {
	color: #e8f0de;
	border: solid 2px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}