<div>

  <ol class="breadcrumb">
  	<li><a href="#Page">Page</a></li>
    <li>Create</li>
  </ol>
  
<form class="form">

  <div class="float-end btn-group">
    <a href="#Zone" class="btn">Cancel</a>
    <a href="#null" class="btn btn-primary" id="save">Save</a>
  </div>
  
  <legend>Create Zone</legend>

	<div class="mb-3">
    <label>
      Key</label>
      <input name="key" type="text" class="form-control" />
  </div>
	<div class="mb-3">
    <label>
      Body</label>
      <textarea name="content" class="form-control"></textarea>
  </div>
</form>
</div>
