<div>
<div class="">
    <ol class="breadcrumbs">
      <li><a href="#Blog">Blog</a></li>
      <li>Create</li>
    </ol>
    <h1>Create <span>Blog</span></h1>
</div><!-- 'padding' -->

<form class="form">
  <input name="user" type="hidden" value="" />

  <div class="clearfix action_bar">
    <a href="#null" class="button right submit margin_right_5" id="save">Save</a>
    <a href="#Blog" class="button right submit margin_right_5">Cancel</a>
  </div>

    <div class="">
			<p class="clearfix">
        <label>
          Title</label>
          <input name="title" />
      </p>
      <p class="clearfix">
        <label>
          Url</label>
          <input name="url" /> 
          <a href="#" id="createUrl" class="margin_left">create</a>
      </p>
			<p class="clearfix">
        <label>
          Body</label>
          <textarea name="body"></textarea>
      </p>

  </div><!-- 'padding' -->
</form>
</div>