<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="fb-root"></div>

  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">OdchodDoDuchodu.cz</a>
      <div class="navbar-collapse">
        {{html $item.htmlString(zone.nav)}}
      </div>
    </div>
  </nav>

  <div class="container" style="padding-top: 72px; padding-bottom: 40px;">
    <div class="row g-4">
      <div class="col-md-6">
        <img src="/content/images/meeting-with-man.jpg" class="img-fluid" />
      </div>
      <div class="col-md-6">
        {{html $item.htmlString(zone.form2)}}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
      {{each blogs}}
        <h1><a href="/blog/${url}">${title}</a></h1>
        <p><em>{{html $item.date(date)}}</em></p>
        {{html $item.truncate(body, 900)}}
      {{/each}}
      </div>
    </div>

    <hr />
    <footer>
      {{html $item.htmlString(zone.footer)}}
    </footer>
  </div>
</body>
</html>
