<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Blog</title>
  <link href="content/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
</head>

<body>
	<div id="fb-root"></div>
	
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">OdchodDoDuchodu.cz</a>
        <div class="nav-collapse">
          {{html $item.htmlString(zone.nav)}}
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row show-grid">
      <div class="span6">
        <img src="/content/images/meeting-with-man.jpg" />
      </div>
      <div class="span6">
        {{html $item.htmlString(zone.form2)}}
      </div>
    </div>
  
    <div class="row">
      <div class="span">
      {{each blogs}}
				<h1><a href="/blog/${url}">${title}</a></h1>
				<p><em>{{html $item.date(date)}}</em></p>
				{{html $item.truncate(body, 900)}}
			{{/each}}
      </div>
    </div>
    
    <hr />
  
    <footer>
      {{html $item.htmlString(zone.footer)}}
    </footer>
  
  </div> <!-- /container -->
	
	<!--
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script  type="text/javascript">
	FB.init({ appId: '149701228471353', status: true, cookie: true, xfbml: true });
	</script>
	-->
</body>
</html>